/* general styles */
body {
  font-family: Verdana, Arial;
}

.visibility{
visibility: hidden;

}

.wrapper {
  max-width: 900px;
  margin: auto;
}

/* column styles */
.column__list {
  display: grid;
  grid-gap: 14px;
  align-items: start;
  list-style-type: none;
}

.column__avatar {
  padding: 2px;
  height: 293px;
  width: 293px;
}

.column__avatar img {
  border-radius: 50%;
  padding: 2px;
  height: 293px;
  width: 293px;
}

.column__item {
  padding: 2px;
  height: 293px;
  width: 293px;
}

.column__item img {
  height: 293px;
  width: 293px;
}

.column__block {
  background-color: ;
  padding: 2px;
  grid-column-start: 2;
  grid-column-end: 4;
}

.column__title--wrapper {
  display: grid;
  align-items: center;
}

.column__description--wrapper {
  display: grid;
  align-items: center;
}

.column__description--wrapper h2 {
  font-size: 28px;
}

.column__description--wrapper h3 {
  font-size: 14px;
}

/* Mobile */
@media only screen and (max-width: 400px) {
  .column__list {
    grid-template-columns: repeat(1, minmax(260px, 1fr));
  }

  #fadeshow1 {
    display: none;
  }
  .overimage img{
    width: 400px;
    height: 400px;
  }
  .overlaystate{
  height: 625px;
  margin: auto;
  margin-top: 35px;
  background-color: white;
  }

}

/* Desktop */
@media only screen and (min-width: 961px) {
  .column__list {
    grid-template-columns: repeat(3, minmax(260px, 1fr));
    grid-gap: 20px 54px;
  }

  #fadeshow2 {
    display: none;
  }
  .overimage img{
    width: 600px;
    height: 600px;
  }
  .overlaystate{
  width: 935px;
  height: 600px;
  margin: auto;
  margin-top: 35px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto auto;
  }
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */

}





.overlaybar{
  width: 335px;
  height: 600px;

}

.overlay__avatar{
width: 50px;
height: 120px;

}

.overlay__avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 10px;
  margin-top: 10px;
}

.main__avatar img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  padding: 10px;
}

.overlaytext {
text-align: left;
padding-left: 10px;
}

.overlaytext p {
  font-size: 11pt;
  text-align: left
}

.avatartext {
  text-align: left;
}

.avatartext p {
  font-size: 11pt;
  text-align: left
}


.commentsection{
  width: 335px;
  height: 120px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0px;
}

.socialsection{
  width: 335px;
  height: 120px;
  position: bottom:0;
}

.avatarsection{
  width: 335px;
  height: 70px;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0px;
}

i{
  margin: 5px;
}
.right{
    float:right;
}

.left{
    float:left;
}
